<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.calvin.cs262.healiva">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Appointments.NewAppointment"></activity>
        <activity android:name=".CreateAccount.ConfirmationPage" />
        <activity
            android:name=".ForgotPassword.CreateNewPassword_Page"
            android:noHistory="true" />
        <activity
            android:name=".ForgotPassword.ResetPassword_Page"
            android:noHistory="true" />
        <activity
            android:name=".ForgotPassword.ForgotPassword_Page"
            android:noHistory="true" />
        <activity
            android:name=".ResetPassword"
            android:noHistory="true" />
        <activity android:name=".Settings" />
        <activity android:name=".Profile" />
        <activity
            android:name=".CreateAccount.CreateAccount"
            android:noHistory="true" />
        <activity android:name="edu.calvin.cs262.healiva.Messaging.MessageRecent" />
        <activity android:name="edu.calvin.cs262.healiva.Messaging.MessageGroup" />
        <activity android:name="edu.calvin.cs262.healiva.Messaging.MessagePerson" />
        <activity android:name="edu.calvin.cs262.healiva.Messaging.Messaging" />
        <activity android:name="edu.calvin.cs262.healiva.Messaging.Message" />
        <activity android:name="edu.calvin.cs262.healiva.Messaging.MessageAdapter" />
        <activity android:name="edu.calvin.cs262.healiva.Messaging.ExampleItem" />
        <activity android:name="edu.calvin.cs262.healiva.Messaging.RecyclerAdapter" />
        <activity android:name="edu.calvin.cs262.healiva.Messaging.CounselorList" />
        <activity android:name="edu.calvin.cs262.healiva.Messaging.GroupList" />
        <activity android:name="edu.calvin.cs262.healiva.Messaging.MessageViewHolder" />
        <activity android:name="edu.calvin.cs262.healiva.Messaging.MemberData" />
        <activity
            android:name=".Events.Events2Page"
            android:label="@string/title_activity_events2_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Events.Event1Page"
            android:label="@string/title_activity_event1_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Appointments.Appointments" />
        <activity android:name=".Events.EventsPage" />
        <activity android:name=".MenuPage" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AboutUs" />
        <activity android:name=".HelpMe" />
        <activity android:name=".HelpLogin" />
    </application>

</manifest>