<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.calvin.cs262.healiva">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="edu.calvin.cs262.healiva.CreateAccount.ConfirmationPage"></activity>
        <activity
            android:name="edu.calvin.cs262.healiva.ForgotPassword.CreateNewPassword_Page"
            android:noHistory="true" />
        <activity
            android:name="edu.calvin.cs262.healiva.ForgotPassword.ResetPassword_Page"
            android:noHistory="true" />
        <activity
            android:name="edu.calvin.cs262.healiva.ForgotPassword.ForgotPassword_Page"
            android:noHistory="true" />
        <activity
            android:name="edu.calvin.cs262.healiva.ResetPassword"
            android:noHistory="true" />
        <activity android:name="edu.calvin.cs262.healiva.Settings" />
        <activity android:name="edu.calvin.cs262.healiva.Profile" />
        <activity
            android:name="edu.calvin.cs262.healiva.CreateAccount.CreateAccount"
            android:noHistory="true" />
        <activity android:name="edu.calvin.cs262.healiva.Messaging.MessageRecent" />
        <activity android:name="edu.calvin.cs262.healiva.Messaging.MessageGroup" />
        <activity android:name="edu.calvin.cs262.healiva.Messaging.MessagePerson" />
        <activity android:name="edu.calvin.cs262.healiva.Messaging.Messaging" />
        <activity android:name="edu.calvin.cs262.healiva.Messaging.Message" />
        <activity android:name="edu.calvin.cs262.healiva.Messaging.MessageAdapter" />
        <activity android:name=".MessageViewHolder" />
        <activity android:name=".MemberData" />
        <activity
            android:name="edu.calvin.cs262.healiva.Events.Events2Page"
            android:label="@string/title_activity_events2_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="edu.calvin.cs262.healiva.Events.Event1Page"
            android:label="@string/title_activity_event1_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="edu.calvin.cs262.healiva.Appointments.Appointments" />
        <activity android:name="edu.calvin.cs262.healiva.Events.EventsPage" />
        <activity android:name="edu.calvin.cs262.healiva.MenuPage" />
        <activity android:name="edu.calvin.cs262.healiva.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="edu.calvin.cs262.healiva.AboutUs" />
    </application>

</manifest>